# Configurações locais e Variáveis de Ambiente
config.sh
.env
.env.*
!.env.example

# Logs do sistema
*.log

# Editores de código
.vscode/
.idea/
*.swp
*~

# Arquivos de Sistema Operacional
Thumbs.db
.DS_Store
